@import "~video-react/styles/scss/video-react";
.test2_center {
  box-sizing: border-box;
  transform: matrix3d(0, 0, 0);
  position: relative;
  width: 400px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  border: 1px solid lightgray;
  .audio_mask {
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: 100;
    left: 30px;
  }
}
.border {
  border: 1px dash lightblue;
  border-style: dashed;
}
.border_move {
  background: linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
  background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove 0.3s infinite linear;
}

@keyframes linearGradientMove {
  100% {
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}

.cardLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  div {
    width: 40%;
    text-align: center;
  }
}

.isScroll {
  overflow: scroll;
}
