.itemLists {
  position: relative;
  background-color: #f0f2f5;
  min-height: 100vh;
  min-width: 100%;
  .itemLists_menu {
    padding-left: 200px;
  }
  .itemUsers_logo {
    position: absolute;
    color: white;
    font-size: 24px;
    top: 0px;
    left: 40px;
    align-self: center;
    box-sizing: border-box;
  }
  .itemUser_name {
    position: absolute;
    color: white;
    top: 10px;
    right: 30px;
    opacity: 0.8;
  }
  .itemLists_Card {
    margin: 20px auto;
    width: 90%;
    .itemLists_Card_table {
      .action {
        .action_e {
          color: #18aeff;
        }
        .action_b {
          color: #d7dfe9;
        }
      }
    }
  }
}
