.right {
  background-color: white;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  width: 400px;

  label {
    display: inline-block;
    margin-right: 50px;
  }
}
